<div id="head-nav" class="navbar navbar-default navbar-fixed-top">
         <div class="container-fluid">
            <div class="navbar-header"><button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="fa fa-gear"></span></button><a href="#" class="navbar-brand"><span>Clean Zone</span></a></div>
            <div class="navbar-collapse collapse">              
               <ul class="nav navbar-nav navbar-right user-nav">
                  <li class="dropdown profile_menu">
                     <a href="#" data-toggle="dropdown" class="dropdown-toggle"><img alt="Avatar" src="/img/avatar2.jpg"><span><%= current_user.name%></span><b class="caret"></b></a>
                     <ul class="dropdown-menu">
                        <li><a href="/settings">My Account</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Messages</a></li>
                        <li class="divider"></li>
                        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                     </ul>
                  </li>
               </ul>
              
            </div>
         </div>
      </div>