
         <!--Sidebar item function--><!--Sidebar sub-item function-->
         <div class="cl-sidebar">
            <div class="cl-toggle"><i class="fa fa-bars"></i></div>
            <div class="cl-navblock">
               <div class="menu-space">
                  <div class="content">
                     
                     <ul class="cl-vnavigation">
                        <li>
                           <a href="#"><i class="fa fa-home"></i><span>Dashboard</span></a>
                           <ul class="sub-menu">
                              <li><a href="index.html">Version 1</a></li>
                              <li><a href="dashboard2.html"><span class="label label-primary pull-right">New</span>Version 2</a></li>
                           </ul>
                        </li>
                        
                     </ul>
                  </div>
               </div>
               <div class="search-field collapse-button"><input type="text" placeholder="Search..." class="form-control search"><button id="sidebar-collapse" class="btn btn-default"><i class="fa fa-angle-left"></i></button></div>
            </div>
         </div>
         
              
           
