<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5 widget">
                <h2>Article</h2>
                <article class="widget_content">
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
                        <li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</li>
                        <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</li>
                        <li>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae </li>
                        <li>Nemo enim ipsam voluptatem quia voluptas sit aspernatur</li>
                 </ul>
                 </article>
            </div>
            <div class="col-md-3 widget">
                <h2>Link</h2>
                <article class="widget_content">
                    <ul>
                        <li><a href="/"> मुख्यपान</a></li>
                        <li><a href="/about"> परीचय</a></li>
                        <li><a href="/gallery"> फोटो</a></li>
                        <li><a href="/posts"> ब्लॉग</a></li>
                        <li><a href="contact"> संपर्क</a></li>
                 </ul>
                 </article>
            </div>
            <div class="col-md-4 widget">
                <h2>Contact Us</h2>
                <article class="widget_content">
                    <h3>+91 7588119070</h3>
                    <!-- <p>Jl. Lingkar Selatan, Kasihan, Bantul<br> Yogyakarta Indonesia 55183<br>Phone: +62 274 387656</p> -->
                </article>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 widget">&copy; 2016 | Created with <a href="#"> SawantSoftwares </a></div>
        </div>
    </div>
</div>