<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<!--   <header class="intro-header" style="background-image: url('img/contact-bg.jpg')">
   <div class="container">
       <div class="row">
           <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
               <div class="page-heading">
                   <h1>Contact Me</h1>
                   <hr class="small">
                   <span class="subheading">Have questions? I have answers (maybe).</span>
               </div>
           </div>
       </div>
   </div>
   </header> -->
<!-- Main Content -->

<link rel="stylesheet" href="http://cdn.bootcss.com/animate.css/3.5.1/animate.min.css">
<style type="text/css">
   .modal-dialog {width:600px;}
   .thumbnail {margin-bottom:6px;}
</style>
<div class="container">
   <div class="row">
      <h1>Bootstrap 3 Lightbox image gallery using Modal</h1>
      <div class="col-lg-3 col-sm-4 col-xs-6">
         <a title="Image 1" href="#"><img class="thumbnail img-responsive" src="img/1.jpg"></a>
      </div>
      <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 2" href="#"><img class="thumbnail img-responsive" src="img/2.jpg"></a></div>
      <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 3" href="#"><img class="thumbnail img-responsive" src="img/3.jpg"></a></div>
      
      
      <hr>
   </div>
</div>
<div tabindex="-1" class="modal fade" id="myModal" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal">×</button>
            <h3 class="modal-title">Heading</h3>
         </div>
         <div class="modal-body">
         </div>
         <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>

