
<style type="text/css">
    
    .carousel-inner>.item{
        max-height: 551px;
        overflow: hidden;
    }
    img, .embed-responsive {
  margin-bottom: 30px;
  }
</style>

   

   


  
    <div class="container">
  
    <div class="row">
   
     <div class="col-sm-9">
      <h3> व्यक्तिगत परिचय</h3>
      <p>नमस्कार मी प्रा. श्रीकांत आण्णासाहेब चौधरी,  महाराष्ट्रभर शिवचरित्र आणि विविध विषयांवर व्याख्याने देऊन प्रबोधनाचे काम करतो आहे, आजच्या तंत्रज्ञानाच्या युगात आउटडेटेड होण्यापेक्षा काळासोबत अपडेटेड राहिलेल केव्हाही चांगलच आणि म्हणूनच या माध्यमातूनही आपल्याशी कनेक्ट राहण्यासाठी ही वेबसाइट आहे. ‘छत्रपतींच्या असामान्य कार्याने आणि विचारांनी प्रेरित होऊन छत्रपतींचे कार्य ,त्यांचे विचार व्याख्यानाच्या माध्यमातून जनमानसापर्यंत पोहचवतो आहे.... आपला महाराष्ट्र हा पुरोगामी महाराष्ट्र आहे त्यामुळे या मातीत फुले शाहू आंबेडकरांचा पुरोगामी विचार रुजला पाहिजे ,वाढला पाहिजे म्हणून पुरोगामी महाराष्ट्राचे जे पुरोगामी आधारस्तंभ आहेत त्यांच्याही विचारांचा पुरोगामी जागर व्याख्यानातुन करतो आहे आणि करतच  राहील ...या विचारांमधुनच सामाजिक कार्यातही उतरून समाजकार्य आपल्या परिने चालू आहे...पत्रकारितेच्या माध्यमातून समाजातील ज्वलंत प्रश्न  मांडण्याचा आणि त्याविरुद्ध लढण्याचाही प्रयत्न करतोय, “शब्दतंत्र” ( भाषणकला प्रशिक्षण वर्गाच्या ) माध्यमातून आमच्या पोरांना बोलत करायचं काम सुद्धा हाती घेतलय, भाषणकला , नेतृत्वगुण विकसित करून वक्ते घडवायचं काम माझी संपूर्ण टीम येत्या काळात राज्यभर करेनच ....अजून बरच काही या मातीत करायचय , माझी बांधिलकी या मातीशी आहे , इथल्या प्रत्येक माणसाशी आहे , आणि म्हणूनच मी तुमचा आहे .....माझ्या आजवरच्या या वाटचालीत मला आपले खुप प्रेम मिळाले आणि या प्रेमाच्या बळावरच माझी ही यशस्वी  वाटचाल सुरू आहे....हा विचारांचा जागर अविरत सुरू रहावा यासाठी आपल्या प्रेमाची आणि शुभेच्छांची आवश्यकता आहे ....तेव्हा आपले प्रेम असेच कायम राहील ही अपेक्षा....</p>
    <hr>
    </div>
    <div class="col-sm-3">
    <h3> यु ट्युब</h3>
    <hr>
        <div class="col-sm-12">
            <div class="embed-responsive embed-responsive-16by9">
                
                 <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Tc-8JnIn1fs" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="embed-responsive embed-responsive-16by9">
                
                 <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Tc-8JnIn1fs" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="embed-responsive embed-responsive-16by9">
                
                 <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Tc-8JnIn1fs" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
   </div>
</div>

</body>

</html>
