<div class="page-head">
  <ol class="breadcrumb">
    <li><a href="/admin">Home</a></li>
    <li class="active">Post</li>
   </ol>
</div>
<p id="notice"><%= notice %></p>




<div class="row">
                  <div class="col-md-12">
                     <div class="block-flat">
                        <div class="header">
                           <h3>Posts <%= link_to 'New Post', new_admin_post_path ,:class => "btn btn-small btn-primary pull-right"%></h3>
                        </div>
                        <div class="content">
                           <div>
                              <table id="posts-datatable" class="table table-bordered" data-source="<%= admin_posts_url(format: "json")%>">
                                 <thead>
                                    <tr>
                                       <th>Order</th>
                                       <th>Title</th>
                                       <th>SubTitle</th>
                                       <th>Published At</th>
                                       <th>Action</th>
                                       <th></th>
                                       <th></th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    
                                    
                                    
                                    
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>