

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
               <% @posts.each do |post|%>
                <div class="post-preview">
                    <a href="/posts/">
                        <h2 class="post-title">
                            <%= post.title%>
                        </h2>
                        <h3 class="post-subtitle">
                            <%= post.sub_title%>
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>
                </div>
                <hr>
                <%end%>
               
                
            </div>
        </div>
    </div>

  
    <div class="container">
  
    <div class="row">
        <div class="col-sm-4">
            <div class="embed-responsive embed-responsive-16by9">
                
                 <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Tc-8JnIn1fs" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="embed-responsive embed-responsive-16by9">
                
                 <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Tc-8JnIn1fs" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="embed-responsive embed-responsive-16by9">
                
                 <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Tc-8JnIn1fs" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
   
</div>

</body>

</html>
