<div class="page-head">
   <ol class="breadcrumb">
      <li><a href="/admin">Home</a></li>
      <li class="active">User</li>
   </ol>
</div>
<p id="notice"><%= notice %></p>
<div class="row">
   <div class="col-md-12">
      <div class="block-flat">
         <div class="header">
            <h3>Users <%= link_to 'New User', new_admin_user_path ,:class => "btn btn-small btn-primary pull-right"%></h3>
         </div>
         <div class="content">
            <div>
               <table id="posts-datatable" class="table table-bordered" data-source="<%= users_url(format: "json") %>">
                  <thead>
                     <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th></th>
                     </tr>
                  </thead>
                  <tbody>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>