<div class="text-center">
<h1>Home</h1>
<p class="text-success">this is a landing page</p>
<p class="text-success">bootstrap, devise(login, register, settings, sign out), lato-font and slim is configured!</p>
</div>
